* {
  box-sizing: border-box;
}
body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  background-color: #88BDB8;
}

.container {
  display: flex;
  margin: auto;
  margin-top: 15vh;
  width: 800px;
  height: 600px;
  background: white;
  border-radius: 25px;
}

