.results {
    font-size: 16px;
    color: rgb(26, 61, 58);
    margin: 0;
    padding: 1%;
}
h1 {
    color: rgb(26, 61, 58);

}

.result-container {
    margin-top: 39%;
}

.results-xtra {
    margin-top: 10%;
    font-size: 16px;
    color: rgb(26, 61, 58);
    font-weight: bold;
}